@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <h2 class="display-4" notification>@ViewBag.Message</h2>
</div>
<section name="Feeds">
    <h3>Feeds</h3>
    <ul>
        @foreach (var feed in ViewBag.Feeds)
        {
            <li>@feed.ToString()</li>
        }
    </ul>
</section>
<section name="create">
    <h3>Create</h3>
    <form method="post" action="/createfeed">
        <label for="feedGroupName">GROUP</label>
        <input type="text" id="feedGroupName" name="feedGroupName" />
        <br />
        <label for="feedName">NAME</label>
        <input type="text" id="feedName" name="feedName" />
        <br />
        <label for="feedUri">URI</label>
        <input type="url" id="feedUri" name="feedUri" />
        <br />
        <button value="CREATE">CREATE</button>
    </form>
</section>