@{
    ViewData["Title"] = "ExternalSignIn";
}

<div class="text-center">
    <h1 class="display-4">ExternalSignIn</h1>
    <a href="@ViewData["GoogleOidcSignInUri"]">Google</a>
    <a href="@ViewData["FacebookOauthSignInUri"]">Facebook</a>
</div>
